<!DOCTYPE html>
<html>

    {% load staticfiles %}
    <head>
        <title>AskPage</title>
        <link rel="shortcut icon" href="{% static "img/ico.ico" %}">
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "mycss.css" %}">
        <script type="text/javascript" src="{% static "js/jquery-3.2.1.js" %}"></script>
    </head>

    <body>

        {% include "template_header.html" %}

        <hr class="mystyle"><br>

        {% block Body %}
            <div id="main">
                <div class="container" id="question-body">
                    <div class="row">

                        <div class="col-md-8" id="first-block">
                            {% block Title %}{% endblock %}
                            {% block Post_Block %}{% endblock %}
                        </div>

                        <div class="col-md-3 col-md-offset-1">
                                {% include "template_tag_box.html" %}
                        </div>

                    </div>
                </div>
            </div>
        {% endblock %}

        <script src="{% static "js/ajax.js" %}"></script>
    </body>
</html>
