{% extends "base.html" %}
{% load staticfiles %}


{% block Post_Block %}

    <h1 class="col-md-9">
        <font size="+4">
            <b>Войти в аккаунт</b>
            {% if not auth_error %}
                <br><br>
            {% endif %}
        </font>
    </h1>
    {% if auth_error %}
        <font size="+2" color="#8b0000" class="col-md-10">
            <b>Неверный логин/пароль</b>
            <br><br>
        </font>
    {% endif %}


    <form class="form-horizontal log-form" action="{% url 'login' %}" method="POST">

        {% csrf_token %}

        {% for form in forms.visible_fields %}
            <div class="form-group {% if form.errors %}has-error{% endif %}">
                <span class="col-md-3 control-label">
                    {{ form.label_tag }}
                </span>
                <span class="col-md-6">
                    {{ form }}
                </span>
            </div>
        {% endfor %}


        <input name="redirect_path" value="{{ redirect_path }}" id="id_redirect_path" type="hidden">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <div class="checkbox">
                    <label><input type="checkbox"> Запомнить</label>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-md-offset-1">
            <input class="btn btn-primary btn-lg ask-btn" type="submit" value="Войти!">
        </div>

        <span class="col-md-5 col-md-offset-2 create_new_acc">
            <a href="{% url 'signup' %}"><br> Создать новый аккаунт</a>
        </span>

    </form>

{% endblock %}