body {
	background-color: #efefff;
	font-family: arial;
	overflow-x: hidden;
}
header {
	padding: 10px;
	margin: 10px auto;
}
#main {
	max-width: 1500px;
	margin-left: 4%;
	margin-right: 15%;
}
#LOGO img {
	margin-top: -20px;
}
#SEARCH form {
	margin: 30px 10px 35px 40px;
	max-width: 300px;
}
#ASK input {
	margin-top: 22px;
	margin-bottom: 25px;
	margin-left: 20px;
	width: 70%;
	max-width: 400px;
	box-shadow: 9px 9px 4px 0px rgba(0,0,41, 0.5);
}
#AVATAR img {
	width: 100px;
	height: 100px;
	float: left;
}
#AVATAR h1 {
	float: left;
	width: 60%;
	margin: 10px auto;
	max-width: 100px;
}
#AVATAR button {
	position: fixed;
	right: 2%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	opacity: 0.5;
	z-index: 1;
}

#AVATAR button.reg-log {
	opacity: 0.75;
	position: relative;
	margin: 10px 0px 0px 15px;
	border-radius: 25%;
	width: 300px;
}

#AVATAR button.n1:hover { opacity: 1.0; background-color: #037ffc; }
#AVATAR button.n2:hover { opacity: 1.0; background-color: #037ffc; }
#AVATAR button.n3:hover { opacity: 1.0; background-color: #037ffc; }
#AVATAR button.n1 {	top: 5px;  padding-left: 8px; padding-top: 6px; }
#AVATAR button.n2 {	top: 39px; padding-left: 8px; padding-top: 6px; }
#AVATAR button.n3 {	top: 73px; padding-left: 8px; padding-top: 6px; }

.tags_under_single_question { float: left; }
.tags_under_question { float: right; }
.lead { text-align: justify; }
#question-body h3 { margin-top: 1%; }
#UserName { padding-left: 10px; }

hr.mystyle {
	width: 90%;
	height: 5px;
	background: #037ffc;
	border-radius: 75%;
}

.current-question {
	margin-top: 1px;
	padding: 1px;
	text-transform: capitalize;
}
span.current-question {
	padding-left: 30px;
	text-align: center;
	font-size: 28pt;
	font-weight: bold;
}
a.current-question {
	text-align: center;
	margin-top: 13px;
	font-size: 18pt;
	text-decoration: underline;
	font-weight: bold;
}

.box-question {

	font-family: cursive;
	padding: 10px 20px;
	padding-bottom: 0;
	margin: 18px 3px;
	background-color: #efefff;
	border-style: dashed;
	border-color: darkblue;
	box-shadow: 10px 10px #777777;
	min-width: 500px;
}

#AskingAvatar {
	margin-top: 3%;
	margin-bottom: 1%;
}
#AskingAvatar img {
	height: 130px;
	width: 130px;
	-webkit-filter: hue-rotate(55deg);
}
#AskingNoStdAvatar img {
	height: 130px;
	width: 130px;
	-webkit-filter: hue-rotate(0deg);
}

.Likes {
	margin: 7px;
	min-width: 150px;
}
a.answer_under_question {

	font-size: 13pt;
	text-decoration: underline;
}
.tag-box {
	position: relative;
	float: right;
	padding-left: 8px; padding-top: 6px;
}
p.tag-tittle {
	margin-left: -50px;
	margin-right: -50px;
	padding-top: 20px;
	font-size: 30pt;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
	text-shadow: 2px 2px 3px #00008b;
	color: #337ab7;
}
.tag-block {
	padding: 10px 3px;
	border-style: ridge;
	border-width: 3px;
	border-color: #00008b;
}
.Tags {
	font-size: 17pt;
	font-weight: bold;
	padding: 10px;

}
a.Tags:hover {

	font-size: 23pt;
	font-weight: bold;
	padding: 5px;
	color: #8b0000;
}
.popular-user {
	font-size: 20pt;
}
.pagination {
	margin-left: 20%;
	/*margin-right: 70%;*/
	min-width: 350px;
	font-weight: bold;
	font-size: 12pt;
}
.ask-text {
	min-height: 150px;
	min-width: 100%;
	max-width: 100%;
	max-height: 300px;
}
.ask-form {
	font-size: 15pt;
}
.log-form {
	margin-left: -6%;
	font-size: 14pt;
}
.tag-search {
	margin-left: 20px;
	font-family: cursive;
}
.single-question {

	font-family: cursive;
	background-color: #efefff;
}
.box-answer {

	position: relative;
	font-family: cursive;
	padding: 10px 20px;
	padding-bottom: 0;
	margin: 30px 40px 30px 0px;
	background-color: #efefff;
	border-style: inset;
	border-width: 1px;
	overflow: hidden;
	border-color: darkblue;
	box-shadow: 7px 7px #777777;
}
#AnsweringAvatar img {
	height: 170px;
	width: 170px;
	-webkit-filter: hue-rotate(55deg);
	margin-top: 15px;
}
#AnsweringNoStdAvatar img {
	height: 170px;
	width: 170px;
	margin-top: 15px;
	-webkit-filter: hue-rotate(0deg);
}
.Answer-Likes {
	margin: 8px 26px;
	min-width: 150px;
}
.helpful-check {

	font-weight: normal;
	position: absolute;
	bottom: 15px;
	right: 31px;
}
.answer-txt {
	min-height: 100px;
	max-width: 715px;
	max-height: 300px;
}
.ask-btn {
	margin-top: 20px;
	margin-bottom: 25px;
	margin-left: 10px;
	box-shadow: 7px 7px 3px 0px rgba(0,0,41, 0.5);
	width: 250px;
	min-width: 250px;
}
.file_form {
	padding-top: 6px;
	margin-bottom: 20px;
	padding-left: 10px;
 }
.img-thumbnail {
 	margin-left: 14px;
 	margin-bottom: 15px;
 }
.create_new_acc { padding: 7px 50px; }
.form-group { min-width: 400px;	}