{% if User.is_authenticated %}

    <a class="btn btn-danger glyphicon glyphicon-thumbs-down js-likes"
        href="#" data-sign="{{ False }}" data-id="{{ Post.pk }}">
    </a>

    <a class="btn btn disabled" id="quest_like_{{ Post.pk }}">
        {% if Post.rate > 0 %}+{{ Post.rate }}
            {% else %}{{ Post.rate }}
        {% endif %}
    </a>

    <a class="btn btn-success glyphicon glyphicon-thumbs-up js-likes"
        href="#" data-sign="{{ True }}" data-id="{{ Post.pk }}">
    </a>

{% else %}

    <a class="btn btn-danger glyphicon glyphicon-thumbs-down" disabled
       title="Для оценивания вопросов необходимо зарегестрироваться"></a>


    <a class="btn btn disabled">
        {% if Post.rate > 0 %}+{{ Post.rate }}
            {% else %}{{ Post.rate }}
        {% endif %}
    </a>

    <a class="btn btn-success glyphicon glyphicon-thumbs-up" disabled
       title="Для оценивания вопросов необходимо зарегестрироваться"></a>

{% endif %}
