{% extends "reg.html" %}

{% block First-Block %}

				<h1 class="col-md-9">
					<font size="+4">
						<b>Войти в аккаунт</b>
						<br><br>
					</font>
				</h1>


				<form class="form-horizontal log-form" action="./login_error.html">

					<div class="alert alert-danger col-md-8 col-md-offset-1">
						<button class="close">×</button>
						<strong>Ошибка!</strong> Неверныe email или пароль.
					</div>

					<div class="col-md-10"></div>

				  	<div class="form-group">
						<label class="col-md-3 control-label">Адрес email:</label>
				    	<div class="col-md-6">
				      		<input type="email" class="form-control input-lg" required="required" placeholder="Введите email"  maxlength="30">
				    	</div>
				  	</div>
				  
				  	<div class="form-group">
				    	<label class="col-md-3 control-label">Пароль:</label>
				    	<div class="col-md-6">
				      		<input type="password" class="form-control input-lg" required="required" placeholder="Введите пароль"  maxlength="40">
				    	</div>
				  	</div>

				  	<div class="form-group">
				    	<div class="col-md-offset-2 col-md-2">
				      		<div class="checkbox">
				        		<label>
				        			<input type="checkbox"> Запомнить
				        		</label>
				      		</div>
				    	</div>
				  	</div>


				  	<div class="col-md-2 col-md-offset-1">
						<a><input class="btn btn-primary btn-lg ask-btn" type="submit" value="Войти!"></a>
					</div>


					<span class="col-md-5 col-md-offset-2 create_new_acc">
						<a href="{% url 'signup' %}"><br> Создать новый аккаунт</a>
					</span>

				</form>


{% endblock %}