{% extends "base.html" %}
{% load staticfiles %}


{% block Post_Block %}

    <h1 class="col-md-9 col-md-offset-1">
        <font size="+4">
            <b>Регистрация</b>
            <br><br>
        </font>
    </h1>


    <form class="form-horizontal log-form" action="{% url 'signup' %}" method="POST">

        {% csrf_token %}
{#        <div class="form-group">#}
{#            <label class="col-md-3 control-label">Имя:</label>#}
{#            <div class="col-md-7">#}
{#                <input type="text" class="form-control input-lg" required="required"#}
{#                       name="first_name" placeholder="Введите имя" maxlength="30">#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#            <label class="col-md-3 control-label">Фамилия:</label>#}
{#            <div class="col-md-7">#}
{#                <input type="text" class="form-control input-lg" required="required"#}
{#                       name="last_name" placeholder="Введите фамилию" maxlength="30">#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#            <label class="col-md-3 control-label">Адрес email:</label>#}
{#            <div class="col-md-7">#}
{#                <input type="email" class="form-control input-lg" required="required"#}
{#                       name="email" placeholder="Введите email" maxlength="35">#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#            <label class="col-md-3 control-label">Логин:</label>#}
{#            <div class="col-md-7">#}
{#                <input type="text" class="form-control input-lg" required="required"#}
{#                       name="username" placeholder="Введите логин" maxlength="25">#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#            <label class="col-md-3 control-label">Пароль:</label>#}
{#            <div class="col-md-7">#}
{#                <input type="password" class="form-control input-lg" required="required"#}
{#                       name="password" placeholder="Введите пароль" maxlength="40">#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#            <label class="col-md-3 control-label">Повтор пароля:</label>#}
{#            <div class="col-md-7">#}
{#                <input type="password" class="form-control input-lg" required="required"#}
{#                       name="password_2" placeholder="Подтвердите пароль" maxlength="40">#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="form-group file_form">#}
{#            <label class="col-md-3 control-label">Загрузить аватар:</label>#}
{#            <div class="col-md-7 file_form">#}
{#                <input type="file" name="avatar">#}
{#            </div>#}
{#        </div>#}
{##}

        {% for form in forms %}
            <div class="form-group {% if form.errors %}has-error{% endif %}">
                <span class="col-md-3 control-label">
                    {{ form.label_tag }}
                </span>
                <span class="col-md-7">
                    {{ form }}
                    {{ form.errors }}
                </span>
            </div>
        {% endfor %}

        <div class="col-md-2 col-md-offset-3">
            <input class="btn btn-primary btn-lg ask-btn" type="submit" value="Зарегистрироваться!">
        </div>

    </form>

{% endblock %}