{% extends "base.html" %}

{% load staticfiles %}


{% block First-Block %}

    <br>
    <div class="single-question row">
        <div class="col-md-3" id="AnsweringAvatar">
            <a href="#">
                <img src="{% static "img/noimage.jpg" %}">
            </a>
            <div style="clear: left"></div>

            <div class="btn-group btn-group-md Answer-Likes" data-toggle="buttons">
                <a class="btn btn-danger glyphicon glyphicon-thumbs-down"></a>
                <a class="btn btn disabled">{{ Question.mark }}</a>
                <a class="btn btn-success glyphicon glyphicon-thumbs-up"></a>
            </div>

        </div>

        <div class="lead co col-md-9">

            <h2><b>№{{ id }} - {{ Question.title }}</b></h2>
                {{ Question.text }}
            <br><br>

            <span class="tags_under_single_question"> Теги:
                {% for post_tag in Question.tags %}
                    {% include "template_tags.html" %}
                {% endfor %}
            </span>

        </div>
    </div>

    <hr class="mystyle">

    <h2><b><i>Ответы:</i></b></h2>


    {% for Answer in Answers %}
        <div class="box-answer row">
            <div class="col-md-3" id="AskingAvatar">
                <a href="#">
                    <img src="{% static "img/noimage.jpg" %}">
                </a>
                <div style="clear: left"></div>

                <div class="btn-group btn-group-md Likes" data-toggle="buttons">
                    <a class="btn btn-danger glyphicon glyphicon-thumbs-down"></a>
                    <a class="btn btn disabled">{{ Answer.mark }}</a>
                    <a class="btn btn-success glyphicon glyphicon-thumbs-up"></a>
                </div>
            </div>

            <br>
						
            <div class="lead co col-md-9">
                {{ Answer.text }}
                <br><br>
            </div>

            <div class="helpful-check">
                <label>Пометить ответ как верный!  <input type="checkbox" name="helpful"></label>
            </div>
        </div>
    {% endfor %}

    {% block Paginator %}
        {% with post_list=Answers %}
            {% include "template_paginator.html" %}
        {% endwith %}
    {% endblock %}

    <hr class="mystyle">
    <br><br>

    <textarea class="form-control answer-txt input-lg" placeholder="Введите текст ответа"></textarea>
    <div class="col-md-4 col-md-offset-3">
        <a href="#"><input class="btn btn-primary btn-lg ask-btn" type="submit" value="Ответить!"></a>
    </div>

{% endblock %}