<div>
    {% block Tag_Block %}
        <p class="tag-tittle"><i>популярные теги</i></p>
        <br>
        <div class="tag-block center-block">
            {% for tag in tags_list %}
                <span><a class="Tags" href="{% url 'tag' tag %}">{{ tag }}</a></span>
            {% endfor %}
        </div>
    {% endblock %}
</div>
<br><br>
<div>
    {% block Popular_User %}
        <p class="tag-tittle"><i>Почётные пользователи</i></p>
        <br>
        <ul class="popular-user">
            {% for best in best_user %}
                <li ><a href="#">{{ best.user.first_name }} {{ best.user.last_name }}</a></li>
            {% endfor %}
        </ul>
        <br>
    {% endblock %}
</div>