<ul class="pagination">

    {% if post_list.has_previous %}
        <li><a href="?page=1" class="glyphicon glyphicon-backward"></a></li>
        <li><a href="?page={{ post_list.previous_page_number }}" class="glyphicon glyphicon-triangle-left"></a></li>
    {% else %}
        <li class="disabled"><span class="glyphicon glyphicon-backward"></span></li>
        <li class="disabled"><span class="glyphicon glyphicon-triangle-left"></span></li>
    {% endif %}


    <li class="active"><span class="glyphicon">
        <b>Страница {{ post_list.number }} из {{ post_list.paginator.num_pages }}</b>
    </span></li>


    {% if post_list.has_next %}
        <li><a href="?page={{ post_list.next_page_number }}" class="glyphicon glyphicon-triangle-right"></a></li>
        <li><a href="?page={{ post_list.paginator.num_pages }}" class="glyphicon glyphicon-forward"></a></li>
    {% else %}
        <li class="disabled"><span class="glyphicon glyphicon-triangle-right"></span></li>
        <li class="disabled"><span class="glyphicon glyphicon-forward"></span></li>
    {% endif %}

</ul>
